<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Create Your Reservation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-item lines="none">
        <ion-title class="ion-text-left" id="title"> Car Rental App</ion-title>
      </ion-item>
     
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item lines="none">
      <h1>Maryam's Car Rental Form</h1>
    </ion-item>
    <ion-item *ngIf = "typeCar === 'S' || dateError === true || error === true">
      <div id="error">
        <p>Please fix these issues with your form</p>
        
       <ul>
        <li *ngIf = "typeCar === 'S'">Car Type: You must select a car type</li>
  
        <li *ngIf = "dateError === true ">Reservation Date: Date must be today or in the future</li>
        <li *ngIf = "error === true">Hours: You must enter a value between 1-96</li>
       </ul>
      </div>
    </ion-item>
  
    
    
    <br>

    <ion-item lines="none">
      <ion-label>What type of car?</ion-label>
    </ion-item>




  

    



    <ion-item>
      <ion-select [(ngModel)]="typeCar" placeholder="Select a vehicle type">
        <ion-select-option value="Sedan">Sedan</ion-select-option>
        <ion-select-option value="SUV">SUV</ion-select-option>
      </ion-select>
    </ion-item>
    <br>


    <ion-item lines="none">
      <ion-label>Choose the reservation date: </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-input type="date" [(ngModel)]="resDate" placeholder="Select a date"></ion-input>
    </ion-item>

 

  <br>
    <ion-item lines="none">
      <ion-label>Enter the number of hours: </ion-label>
    </ion-item>
    <ion-item fill="outline">
      <ion-input min="1" max="96" [(ngModel)]="numOfDays" type="number" placeholder="It should be between 1 and 96" required></ion-input>
    </ion-item>
<br>
    <ion-item lines="none">
      <ion-label>Do you need a car seat? </ion-label>
      <ion-checkbox [(ngModel)] ="carSeat"></ion-checkbox>
    </ion-item>

    <br>

    <div id="btn">
      <ion-button (click)="reservePressed()">RESERVE</ion-button>
      <ion-button fill="outline" (click)="resetPressed()">RESET</ion-button>
    </div>




  </div>
</ion-content>
